.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rinstignore
Rplots.pdf
man
packrat/lib*/
packrat
NOTES on DUE fiddling, 2024-01-09.rtf
PKPD_meeting_Lee_Day.pdf
logo.html
prevent Chrome from putting tabs to sleep.html
.gitignore
newFile.tscproj
DUE face and audio
DUE tour video
