## exportPattern("^[[:alpha:]]+")
importFrom(utils, data, menu, read.delim, select.list)
export(DUEget)
export(DUErestart)
export(DUEstart)
export(DUEstop)
export(plotProbsAndEU)
export(plotProbsAndEUsimplified)
export(FromLognormalToNormal)
export(FromNormalToLognormal)
export(add)
export(browseIf)
export(calculate.probabilities)
export(doseParameters)
export(entryBoxCatalog)
export(get.tkplaceinfo)
export(get.tkplaceinfo.height)
export(get.tkplaceinfo.width)
export(get.tkplaceinfo.x)
export(get.tkplaceinfo.y)
export(loadDUEconfig)
export(logInfo)
export(recalculate.means.and.variances)
export(recalculate.offdiagonals)
export(set.utilities.additive)
export(set.utilities.aggressive)
export(set.utilities.cautious)
export(set.utilities.simple)
export(setUtilitySliderValues)
export(load.and.replot.images)
export(probLineCallback)